@import url("../webfontkit-OpenSans/stylesheet.css");

#title
{
	font-family: 'open_sans';
	font-size: 24px;
}

.breadcrumb
{
	padding: 8px 0px;
	background-color: transparent;
}


/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #f5f5f5;
}


/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

#footer {
  width: auto;
  max-width: 680px;
  padding: 0 15px;
}
#footer .text-muted {
  margin: 20px 0;
}

.list-inline.go-right {
  float: right;
  padding: 8px 0px;
}


/* nav-bar */
.dropdown:hover .dropdown-menu {
    display: block;
 }


/* .product-list */

.media.product-list{
    border-radius: 4px;
    border-radius: 4px;
    transition: padding 2.5s ease;
    transition: background-color 1.5s ease;
    transition: color 1.5s ease;
}

.media.product-list:hover{
    transition: padding 10.5s linear;
    transition: background-color 1.5s ease;
    transition: color 0.5s ease;
    padding:10px;
    background-color:goldenrod;
    color:white;
}

.product-list .ratings .glyphicon{
    color:gold;
}

.product-list .caption .pull-right{
    margin-top:39px;
}