@import url("../webfontkit-OpenSans/stylesheet.css");

#title
{
	font-family: 'open_sans';
	font-size: 24px;
}

.breadcrumb
{
	padding: 8px 0px;
	background-color: transparent;
}


/* Credit to bootsnipp.com for the css for the color graph */
.colorgraph {
  height: 5px;
  border-top: 0;
  background: #c4e17f;
  border-radius: 5px;
  background-image: -webkit-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
  background-image: -moz-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
  background-image: -o-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
  background-image: linear-gradient(to right, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
}


/* nav-bar */
.dropdown:hover .dropdown-menu {
    display: block;
 }


/* .product-list */

.media.product-list{
    border-radius: 4px;
    border-radius: 4px;
    transition: padding 2.5s ease;
    transition: background-color 1.5s ease;
    transition: color 1.5s ease;
}

.media.product-list:hover{
    transition: padding 10.5s linear;
    transition: background-color 1.5s ease;
    transition: color 0.5s ease;
    padding:10px;
    background-color:goldenrod;
    color:white;
}

.product-list .ratings .glyphicon{
    color:gold;
}

.product-list .caption .pull-right{
    margin-top:39px;
}

footer{
    padding: 30px 0 60px 0;
    border-style: solid;
    border-width: 1px 0 0 0;
    border-color:#080808;
    background-color:#222;
    margin: 50px 0 0 0;
    color:#9d9d9d;
}

footer ul{
    color: #9d9d9d;
    list-style-type: none;
}

footer hr{
    border-style: inset;
}

footer .container span{
    font-size:30px;
    color:white;
    padding: 0 5px 5px 0;
}

footer .container:last-child{
    text-align:right;
}

/* social icons */
.icon-facebook:hover{
    color:#3b5998;
}
.icon-google__x2B_:hover{
    color:#db4437;
}
.icon-twitter-1:hover{
    color:#55acee;
}
.icon-youtube:hover{
    color:#e52d27;
}