@import url("../lib/webfontkit-OpenSans/stylesheet.css");

html body{
    padding-top:50px;
    background: url(//cdn.shopify.com/s/files/1/0322/2265/t/4/assets/bg_image.jpg?99668 ) repeat center top;
}

body > .container {
    padding-top:20px;
    padding-bottom: 50px;
    background-color: #fcfcfa;
    border-left: solid 1px #e2e0d8;
    border-right: solid 1px #e2e0d8;
}

/* carousel */
.container.container-full .slide-image {
  height: 500px;
}

.container .slide-image {
    max-height:300px;
}

/* container */
.container.container-full {
    margin: -20px auto -50px auto;
    width: 100%;
    padding:0;
}

input + input {
    margin-top:10px;
}

/* tables */

.search + .table-responsive {
    margin-top:20px;
}

.borderless tbody tr td,
.borderless tbody tr th,
.borderless thead tr th {
    border: none;
}

/*
.table th:first-child,
.table td:first-child{
    text-align:center;
}
*/

.table th input[type="checkbox"],
.table td input[type="checkbox"]{
    cursor:pointer;
}


.table th > a{
    text-decoration:none;
    color: #333;
}

.brand{
	font-family: 'open_sans';
}
a.navbar-brand.brand,
a.navbar-brand.brand *{
   color:#9d9d9d;
}
a.navbar-brand.brand:hover,
a.navbar-brand.brand:hover *
{
    color: white;
}

.breadcrumb{
	padding: 8px 0px;
	background-color: transparent;
}


/* Credit to bootsnipp.com for the css for the color graph */
.colorgraph {
  height: 5px;
  border-top: 0;
  background: #c4e17f;
  border-radius: 5px;
  background-image: -webkit-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
  background-image: -moz-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
  background-image: -o-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
  background-image: linear-gradient(to right, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
}

a,
a *,
a.list-group-item
{ color: #428bca; }

a[class*="hvr-"]:nth-of-type(8n+1):before{ background:#c4e17f; }
a[class*="hvr-"]:nth-of-type(8n+2):before{ background:#f7fdca; }
a[class*="hvr-"]:nth-of-type(8n+3):before{ background:#fecf71; }
a[class*="hvr-"]:nth-of-type(8n+4):before{ background:#f0776c; }
a[class*="hvr-"]:nth-of-type(8n+5):before{ background:#db9dbe; }
a[class*="hvr-"]:nth-of-type(8n+6):before{ background:#c49cde; }
a[class*="hvr-"]:nth-of-type(8n+7):before{ background:#669ae1; }
a[class*="hvr-"]:nth-of-type(8n+8):before{ background:#62c2e4; }

a[class*="hvr-"]:nth-of-type(8n+1):hover{  }
a[class*="hvr-"]:nth-of-type(8n+2):hover{ color:#4e443c; }
a[class*="hvr-"]:nth-of-type(8n+3):hover{  }
a[class*="hvr-"]:nth-of-type(8n+4):hover{  }
a[class*="hvr-"]:nth-of-type(8n+5):hover{  }
a[class*="hvr-"]:nth-of-type(8n+6):hover{  }
a[class*="hvr-"]:nth-of-type(8n+7):hover{  }
a[class*="hvr-"]:nth-of-type(8n+8):hover{  }

/* nav-bar */
.navbar-brand{
    font-size: 24px;
}

nav.navbar .badge{
    color:#222;
    background-color:#fff;
}

.dropdown:hover .dropdown-menu {
    display: block;
 }

.side-menu .glyphicon{
    padding-right:10px;
}

.view-modes{
    position: absolute;
    right: -50px;
}
.view-modes a {
    font-size: 20px;
    text-align: center;
    color: #428bca;
}
.view-modes .list-group-item{
    border-color: #e2e0d8;
}
.view-modes .list-group-item:first-child {
    border-top-left-radius: 0px;
}
.view-modes .list-group-item:last-child {
    border-bottom-left-radius: 0px;
}

.view-modes.view-modes-small{
    font-size: 20px;
}
.view-modes + .view-modes{
    margin-right: 30px;
}

.view-modes li.active a{
    color:#777;
}

.list-group .list-group-item.hvr-bounce-to-right {
    display:block;
}

/* .product-list */
.product-list.view-1{ height: 260px; }

.product-list{
    padding-top: 20px;
    padding-bottom: 20px;
}
a.product-list .platforms span{
    color:#333;
}
/*
.product-list:hover{
    background-color: #2098D1;
}
*/
.product-list:hover .thumbnail{
    border-color: #333;
}


.product-list th + td{
    min-width: 68px;
}

.product-list .ratings{
    min-width:107px;
}

.product-list .ratings .glyphicon{
    color:gold;
}

.product-list .thumbnail.thumbnail-full{
    position:relative;
}

.product-list .media-body{
    position:relative;
}

a.product-list.view-1 h3{
    height:auto;
    padding:5px 10px;
    margin:0;
    position:absolute;
    z-index:1;
    top:112px;
    right:16px;
    color:white;
    background:black;
    border-bottom-right-radius: 2px;
}


.product-list .media-body .caption.caption-tr{
    padding:0px 10px;
    top:0;
    right:0;
    color:white;
    background:black;
}

.product-list .caption{
    height:120px;
}
.product-list .caption .pull-right{
    margin-top:39px;
}

.product-list .caption.caption-tr .pull-right {
    margin-top:5px;
}

.product-list .media-heading > a{
    float:right;
    color:red;
}

body > footer{
    padding: 30px 0 60px 0;
    border-style: solid;
    border-width: 1px 0 0 0;
    border-color:#080808;
    background-color:#222;
    margin: 0 0 0 0;
    color:#9d9d9d;
}

footer ul{
    color: #9d9d9d;
    list-style-type: none;
}

footer hr{
    border-style: inset;
}

footer [class^="icon-"] {
    font-size:30px;
    color:white;
    padding: 0 5px 5px 0;
}

footer .container .row > :last-child{
    text-align:right;
}

/* social icons */
.icon-facebook:hover{ color:#3b5998; }
.icon-google__x2B_:hover{ color:#db4437; }
.icon-twitter-1:hover{ color:#55acee; }
.icon-youtube:hover{ color:#e52d27; }
.icon-html5-01:hover{ color:#f14a29; }
.icon-css3-01:hover{ color:#1572B6; }
.icon-prog-js01:hover{ color:#F0DB4F; }
.icon-prog-php01:hover{ color:#6c7eb7; }
.icon-dbs-postgresql:hover{ color:#336791; }
.icon-rus-vk-01:hover{ color:#611BBD; }


/* Modals */
#signup .modal-content
{
    padding: 10px 20px;
}

/* forms */
form .confirm div+div{
    margin-top:10px;
}

/*
p {
	text-align: justify; 
	text-justify: inter-word;	
}

*/

.rate-system .glyphicon-star{
    color:gold;
}

.rate-system{
    display:block;
    float:right;
}

.rate-system > *{
    display:inline-block;
    color:gold;
}

form .rating{
    display: inline-block;
}


/* Rating thanks to CSS-Tricks */
.rating > span:hover:before {
   content: "\2605";
   position: absolute;
}
.rating {
  unicode-bidi: bidi-override;
  direction: rtl;
}
.rating > span:hover:before,
.rating > span:hover ~ span:before {
   content: "\2605";
   position: absolute;
}

.rating {
  unicode-bidi: bidi-override;
  direction: rtl;
  color:gold;
}
.rating > span {
  display: inline-block;
  position: relative;
  width: 1.1em;
}
.rating > span:hover:before,
.rating > span:hover ~ span:before {
   content: "\2605";
   position: absolute;
}



/* Product Comment from BootSnipp */
.comment .thumbnail {
    padding:0px;
}
.comment  .panel {
	position:relative;
}
.comment .panel>.panel-heading:after,
.comment .panel>.panel-heading:before{
	position:absolute;
	top:11px;left:-16px;
	right:100%;
	width:0;
	height:0;
	display:block;
	content:" ";
	border-color:transparent;
	border-style:solid solid outset;
	pointer-events:none;
}
.comment .panel>.panel-heading:after{
	border-width:7px;
	border-right-color:#f7f7f7;
	margin-top:1px;
	margin-left:2px;
}
.comment .panel>.panel-heading:before{
	border-right-color:#ddd;
	border-width:8px;
}