

#sold a:first-child{
    background-color: #fffe5e;
}

.panel.disabled{
    color: black;
    left: -1px;
    top: -1px;
    z-index: 1;
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0.6;
    filter: alpha(opacity=60);
    font-size:20px;
    text-align: center;
}

tr td:first-child{
    text-align: center;
}

.dataTables_wrapper {
    margin-bottom: 20px;
}

.dataTables_filter input
{
    padding: 5px 8px;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

@media (min-width: 991px)
{
    .table-ops {
        position:fixed;
        margin-top: 38px;
    }
}

@media (max-width: 990px)
{
    .table-ops {
        float: right;
    }
    small{
        display: none;
    }
}

.form-group .help-text {
    color: red;
    font-size: 14px;
    margin: 15px 0 0 15px;
}

table.dataTable.stripe tbody tr.odd,
table.dataTable.display tbody tr.active-false{
    background-color: #FCB7A9;
}

table.dataTable.display tbody tr.odd.active-false .sorting_1,
table.dataTable.display tbody tr.even.active-false .sorting_1{
    background-color: #fc775f;
}

.category_selection .badge
{
    color:black;
    margin:10px 5px;
}

.category_selection .badge:nth-of-type(8n+1){ background:#c4e17f; }
.category_selection .badge:nth-of-type(8n+2){ background:#f7fdca; }
.category_selection .badge:nth-of-type(8n+3){ background:#fecf71; }
.category_selection .badge:nth-of-type(8n+4){ background:#f0776c; }
.category_selection .badge:nth-of-type(8n+5){ background:#db9dbe; }
.category_selection .badge:nth-of-type(8n+6){ background:#c49cde; }
.category_selection .badge:nth-of-type(8n+7){ background:#669ae1; }
.category_selection .badge:nth-of-type(8n+8){ background:#62c2e4; }

#form-create-product .badge,
#form-edit-product .badge
{ cursor: pointer; }

#form-create-product .category_selection .badge:hover,
#form-edit-product .category_selection .badge:hover
{ background-color:#333; color:white; }